*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	font-size: 16px;
}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.content{
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}


.tabs__items {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #143642;
	border-radius: 10px;

}
.tabs__item {
	flex: 0 1 23%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	font-size: 18px;
	text-transform: full-size-kana;
}
.tabs__item:hover{
	background-color: #EAA13B;
}
.tabs__block{
/*	padding: 20px;*/
	font-size: 17px;
	display: none;
}
.tabs__block:target{
	display: block;
}
.add_form__container{
	display: flex;
	justify-content: center;
}
.add_form_block{
	display: flex;
	border: 2px solid black;
	width:70%;
	height: 500px;
	box-shadow: 4px 4px 4px gray;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: background-color 1s ease;
}
.add_form_block.green{
	background-color: green;
}
.add_form_block.red{
	background-color: red;
}
.add_word_input{
	background-color: #bababa;
	width: 70%;
	height: 30px;
	margin-top: 4px;
	border: 2px outset #595959 ;
}
#add_button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}